a {
  text-decoration: none;
  text-transform: none;
  color: inherit;
}

menu {
  list-style: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

textarea {
  resize: none;
  outline: none;
  border: 0;
  overflow-y: auto;
  border: 1px solid rgba(0,0,0,0.3);
}

.tableItemInput {
  outline: none;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #555;
}

button {
  background: none;
  border: none;
}

@keyframes ldio-rpinwye8j0b {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-rpinwye8j0b div {
  position: absolute;
  animation: ldio-rpinwye8j0b 1s linear infinite;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 #5b5de1;
  transform-origin: 80px 82px;
}
.loadingio-eclipse {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}
.ldio-rpinwye8j0b {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-rpinwye8j0b div {
  box-sizing: content-box;
}

@media print {
  .not-printed, .invisible-for-print {
    display: none !important;
  }
  div, section {
    break-inside: avoid !important;
  }

  .buttons-section {
    display: none !important;
  }
}

#tables-container {
  input[type='text'] {
    outline: none;
    border: none;
    border-bottom: dashed 1px #ccc;
  }
  table {
    width: 100%;
  }
  
  table,
  td, th {
    border: 1px solid #616160;
    border-collapse: collapse;
  }
  
  th {
    padding: .5rem 1rem;
  }
  
  table, td, th, thead {
    transition: 0.1s all;
  }
  
  input[type="checkbox"] {
    transition: none !important;
  }
  thead > tr {
    background: #e6e3e3;
  }
  thead > .totalPieces {
    background: #fff;
  }
  tbody > tr:hover{
    background: #bbb;
  }

  tbody td {
    padding: .3rem;
  }
  
  td:hover {
    background: #211;
    color: #fff;
  }

  tbody tr:nth-child(even) {
    background-color: #ededed;
  }
}
  
  