a {
  text-decoration: none;
  text-transform: none;
  color: inherit;
}

menu {
  list-style: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.tableItemInput {
  outline: none;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #555;
}

button {
  background: none;
  border: none;
}