.docA4 {
  table, tbody, tr, td {
    border: 1px solid #000;
  }
  
  thead > td {
    padding: 0 1rem;
  }
}
.headerA4 {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem; 
  align-items: flex-start;

  input {
    border: none;
    outline: none;
    width: 100%;
  }
}

.companyInfosInput {
  outline: none;
  border: none;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2.2rem;
  width: 100%;
  margin-bottom: .5rem;
}

.companyInfosParagraph{
  font-size: 1.25rem;
  border-bottom: 1px solid #000;
  margin-bottom: 0;
}

.companyInfosTimestamp {
  font-style: italic;
}

.tdLabel {
  padding: .4rem;
  font-size: 14px;
  @media print {
    font-size: 12px !important;
  }
}